<div class="row" *ngIf="step===0">
  <div class="col-xxl-12">
    <nb-card accent="info">
      <nb-card-header>Selecione a Unidade Provider</nb-card-header>
      <nb-card-body>
        <div *ngFor="let item of unity">
          <div class="col-md-12 col-12">
            <nb-list-item class="list-group-item-action align-content-center">
              <a (click)="getClients(item)" class="d-flex justify-content-between align-center w-100 h-100"
                style="cursor: pointer;">
                <img [src]="item.uf === 'RJ'? 'assets/images/rj.svg' : 'assets/images/sp.svg'" class="img-fluid"
                  style="max-width: 100px;">
                <div class="mt-4">
                  <p>{{item.uf === 'RJ' ?  'Rio de Janiero' : 'São Paulo'}}</p>
                </div>
              </a>
            </nb-list-item>
          </div>

        </div>
        <!-- <div class="row" *ngIf="unity[0].uf">
          <div *ngIf="unity[0].uf">
            <div class="col-md-12 col-12" *ngIf="unity[0].uf === 'RJ'">
              <nb-list-item class="list-group-item-action align-content-center">
                <a (click)="getClients(unity[0])" class="d-flex justify-content-between align-center w-100 h-100"
                  style="cursor: pointer;">
                  <img src="assets/images/rj.svg" class="img-fluid" style="max-width: 100px;">
                  <div class="mt-4">
                    <p>Rio de Janeiro</p>
                  </div>
                </a>
              </nb-list-item>
            </div>
          </div>
          <div *ngIf="unity[1].uf">
            <div class="col-md-12 col-12" *ngIf="unity[1].uf === 'SP'">
              <nb-list-item class="  list-group-item-action align-content-center">
                <a (click)="getClients(unity[1])" class="d-flex justify-content-between align-center w-100 h-100"
                  style="cursor: pointer;">
                  <img src="assets/images/sp.svg" class="img-fluid" style="max-width: 100px;">
                  <div class="mt-4">
                    <p>São Paulo</p>
                  </div>
                </a>
              </nb-list-item>
            </div>

          </div>
        </div> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 1">
  <div class="col-xxl-12">
    <nb-card class="p-2">
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item page-active">Clientes</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

      </nb-card-header>
      <nb-card-body class="">
        <p>Clientes {{selectedFilted.name}} ({{customers.length}})</p>
        <div class="row">
          <div class="col-md-12 col-12" *ngFor="let item of customers">
            <nb-list-item class="list-group-item-action align-content-center p-0" (click)="getProjects(item)">
              <span class="m-2 font-list ">{{item.clienteNomeCurto}}</span>
            </nb-list-item>
          </div>
        </div>
      </nb-card-body>
      <!-- <nb-card-footer></nb-card-footer> -->
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 2">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item page-active">Operação</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Operação">
                <div class="row mt-3 my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-6 col-md-3">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{projetcs[0].uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{projetcs[0].clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <!-- <th scope="row">Gestor de Negócio</th>
                              <td>Claudio</td> -->
                            </tr>
                            <tr *ngIf="!frag">
                              <!-- <th scope="row">WBS</th>
                              <td>4912 - Liguidação de Renovação</td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Operação</th>
                          <!-- <th scope="col">Nome</th>
                          <th scope="col">Gestor de Negócio</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="getProjectPeriod(item)" *ngFor="let item of projetcs">
                          <td>{{item.numeroProjeto}}
                            <br>
                            {{item.projetoNome}}
                            <br>
                            <span class="gestor-name">{{item.gestorNome}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <div class="col-12 d-flex justify-content-center my-2">
                    <div class="row">
                      <div class="col-12 btns-projects">
                        <button class="btn btn-secondary mr-md-4 mr-sm-0" (click)="getAllProjects()">
                          <nb-icon icon="plus-outline" status="control"></nb-icon>
                          Operações
                        </button>
                        <button class="btn btn-primary" (click)="getProssionaisAll()">
                          <nb-icon icon="people-outline" status="control"></nb-icon> Profissionais
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-tab>
              <nb-tab tabTitle="Cliente" *ngIf="typeOfAcesso != 'CL'">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>

      </nb-card-body>
      <nb-card-footer class="">
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 3">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operação</li>
                  <li class="breadcrumb-item page-active">Períodos</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Períodos">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-5">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{itemSelected.uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{itemSelected.clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{gestorNome}}</td>
                            </tr>
                            <tr *ngIf="!frag">
                              <th scope="row">Operação</th>
                              <td>{{itemSelected.projetoNome}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-12 my-1 ml-2">
                    <div>
                      <label for="">Selecione o período que deseja visualizar:</label>
                    </div>
                    <!-- <nb-select placeholder="semestre" class="mr-md-2">
                      <nb-option value=""></nb-option>
                      <nb-option value="0">1°</nb-option>
                      <nb-option value="1">2°</nb-option>
                    </nb-select> -->

                    <select class="form-control w-50" (change)="selectYear($event)">
                      <option value="2020">2020</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <!-- <option value="2021">2020</option> -->
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <!-- <span >BV-WBS 4878 <br></span>Gestor de Negócio Provide: Cláudio -->
                  <div class="col-12">
                    <table class="table table-hover table-responsive-sm">
                      <thead>
                        <tr>

                          <th scope="col">Períodos</th>
                          <th scope="col" class="text-center">Total de Recursos</th>
                          <th scope="col" class="text-center">TH</th>
                          <th scope="col" class="text-center">THN</th>
                          <th scope="col" class="text-center">THE</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="getProfPerProj(item)" *ngFor="let item of projectPeriod">
                          <th scope="row">{{item.data}}</th>
                          <td class="text-center">{{item.totalProfissionais}}</td>
                          <td class="text-center">{{item.th}}</td>
                          <td class="text-center">{{item.hn}}</td>
                          <td class="text-center">{{item.he}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-12 mt-4" *ngIf="projectPeriod">
                    <div class="row">
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <span class="font-list">Produtividade por Período</span>
                        <echarts [initOpts]="initOpts" [options]="graficoProdutividaPeriodo"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>Horas Úteis & Horas Trabalhadas no Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficosTotaldehoras"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>N° de Profissionais Por Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficoNumeroPeriod"></echarts>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row text-center my-4" *ngIf="!projectPeriod">
                  <div class="col-12">
                    <h6>Não há registros</h6>
                  </div>
                </div>
              </nb-tab>
              <nb-tab tabTitle="Cliente" *ngIf="typeOfAcesso != 'CL'">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 4">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operação</li>
                  <li class="breadcrumb-item ">Período</li>
                  <li class="breadcrumb-item page-active">Alocação</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Alocação">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-5">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{itemSelected.uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{itemSelected.clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{gestorNome}}</td>
                            </tr>
                            <tr *ngIf="!frag">
                              <th scope="row">Operação</th>
                              <td>{{itemSelected.projetoNome}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Período</th>
                              <td>{{itemSelected.data}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Horas normais</th>
                              <td>{{itemSelected.hn}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Horas extras</th>
                              <td>{{itemSelected.he}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Total de Horas</th>
                              <td>{{itemSelected.th}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <table class="table table-hover table-responsive-sm">
                      <thead>
                        <tr>
                          <th scope="col" *ngIf="frag">Operação</th>
                          <th scope="col">Profissional</th>
                          <th scope="col">Normal</th>
                          <th scope="col">Extra</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="getTimesheet(item, 'x')" *ngFor="let item of projectPeriodMonth">
                          <th scope="row" *ngIf="frag">4289 - Liquidação de Renovação</th>
                          <th scope="row">{{item.membroNome}}</th>
                          <td>{{item.hn}}</td>
                          <td>{{item.he}}</td>
                          <td>{{item.th}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-12 mt-4">
                    <div class="row">
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <span class="font-list">Produtividade por Período</span>
                        <echarts [initOpts]="initOpts" [options]="graficoAlocProdutivdade"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>Horas Úteis & Horas Trabalhadas no Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficoAlocHoratrabalhadas"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>N° de Profissionais Por Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficoAlocNumeroPeriod"></echarts>
                      </div>
                    </div>
                  </div>
                </div>


              </nb-tab>
              <nb-tab tabTitle="Cliente" *ngIf="typeOfAcesso != 'CL'">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 5 || step === 6 || step == 11">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backTimeSheet()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operações</li>
                  <li class="breadcrumb-item ">{{step === 5 ? "Períodos" : "Recursos"}} </li>
                  <li class="breadcrumb-item ">Alocação</li>
                  <li class="breadcrumb-item page-active">Timesheet</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Timesheet">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-5">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{itemSelected.uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{itemSelected.clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{timesheet[0].gestorNome}}</td>
                            </tr>
                            <tr *ngIf="!frag">
                              <th scope="row">Operação</th>
                              <td>{{timesheet[0].projetoNome}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Período</th>
                              <td>{{timesheet[0].mesAno}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Horas normais</th>
                              <td>{{selectPeridoAloc.hn}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Horas extras</th>
                              <td>{{selectPeridoAloc.he}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Totais de horas</th>
                              <td>{{selectPeridoAloc.th}}</td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                  </div>
                  <div class="col-12">
                    <table class="table table-borderless table-responsive">
                      <hr>
                      <thead>
                        <tr>
                          <th scope="col">Profissonal</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td scope="row">{{timesheet[0].profissionalNome}}
                            <br>
                            {{timesheet[0].profissionalCargo}}
                            <br>
                            {{timesheet[0].profissionalEmail}}
                            <br>
                            <!-- {{timesheet[0].profissionalDtAdmissao}} -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-responsive-sm">
                      <thead>
                        <tr>
                          <th>Data</th>
                          <!-- <th scope="col" class="text-center">HI</th>
                          <th scope="col" class="text-center">HT</th>
                          <th scope="col" class="text-center">I</th> -->
                          <th scope="col" class="text-center">Normal</th>
                          <th scope="col" class="text-center">Extra</th>
                          <th scope="col" class="text-center">Total</th>
                          <th scope="col">Descrição</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of timesheet">
                          <th scope="row">{{item.dataTs}}</th>
                          <!-- <td class="text-center">09:00</td>
                          <td class="text-center">18:00</td>
                          <td class="text-center">01:00</td> -->
                          <td class="text-center">{{item.hnTotal}}</td>
                          <td class="text-center">{{item.heTotal}}</td>
                          <td class="text-center">{{item.hrTotal}}</td>
                          <td>{{item.descricao}}</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>


              </nb-tab>
              <nb-tab tabTitle="Cliente" *ngIf="typeOfAcesso != 'CL'">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 7">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="step=2">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operação</li>
                  <li class="breadcrumb-item page-active">Recursos</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Recursos">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-4">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{projetcs[0].uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{projetcs[0].clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{projetcs[0].gestorNome}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <!-- <span >BV-WBS 4878 <br></span>Gestor de Negócio Provide: Cláudio -->
                  <div class="col-12">
                    <table class="table table-hover table-responsive-sm">
                      <thead>
                        <tr>

                          <th scope="col">Recursos</th>
                          <!-- <th scope="col">TH</th>
                          <th scope="col">THN</th>
                          <th scope="col">THE</th>
                          <th scope="col">THSA</th> -->

                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="getProssionalClientePerido(item)" *ngFor="let item of listaProfissionais">
                          <td class="">{{item.profissionalNome}}</td>
                          <!-- <td>1000</td>
                          <td>1000</td>
                          <td>1000</td>
                          <td>1000</td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </nb-tab>
              <nb-tab tabTitle="Cliente">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 8">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operação</li>
                  <li class="breadcrumb-item">Recursos</li>
                  <li class="breadcrumb-item page-active">Alocação</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Alocação">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-5">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{projetcs[0].uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{projetcs[0].clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{projetcs[0].gestorNome}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Profissional</th>
                              <td>{{itemSelecteRecAlo.profissionalNome}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <!-- <span >BV-WBS 4878 <br></span>Gestor de Negócio Provide: Cláudio -->
                  <div class="col-12 my-2">
                    <div class="row">
                      <div class="col-sm-4 col-12 my-1 ml-2">
                        <div>
                          <label for="">Selecione o período que deseja visualizar:</label>
                        </div>
                        <!-- <nb-select placeholder="semestre" class="mr-md-2">
                          <nb-option value=""></nb-option>
                          <nb-option value="0">1°</nb-option>
                          <nb-option value="1">2°</nb-option>
                        </nb-select> -->

                        <select class="form-control w-50" (change)="selectYearR($event)">
                          <option value="2018">2018</option>
                          <option value="2019">2019</option>
                          <option value="2020" selected>2020</option>
                          <!-- <option value="2021">2020</option> -->
                        </select>
                      </div>
                    </div>
                    <table class="table table-hover table-responsive-sm">
                      <thead>
                        <tr>
                          <th scope="col">Período</th>
                          <th scope="col">Operação</th>
                          <th scope="col">Extras</th>
                          <th scope="col">Normais</th>
                          <th scope="col">Totais de horas</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="listaProfissionaisPeriodo">
                        <tr (click)="getTimesheet(item, 'all')" *ngFor="let item of listaProfissionaisPeriodo">
                          <td>{{item.data}}</td>
                          <td>{{item.clienteNomeCurto}}</td>
                          <!-- <td>{{item.}}</td> -->
                          <td>{{item.clienteNome}}</td>
                          <td>{{item.clienteNome}}</td>
                          <td>{{item.clienteNome}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="col-12 mt-4" *ngIf="listaProfissionaisPeriodo">
                      <div class="row d-flex justify-content-center">
                        <div class="col-md-6 col-sm-12 mt-4 text-left">
                          <span class="font-list">Produtividade por Período</span>
                          <echarts [initOpts]="initOpts" [options]="graficoClientRecuso"></echarts>
                        </div>
                        <div class="col-md-6 col-sm-12 mt-4 text-left">
                          <p>Horas Úteis & Horas Trabalhadas no Período</p>
                          <echarts [initOpts]="initOpts" [options]="graficosTotaldehorasRecurso"></echarts>
                        </div>
                        <!-- <div class="col-md-4 col-sm-12 mt-4 text-left">
                          <p>N° de Profissionais Por Período</p>
                          <echarts [initOpts]="initOpts" [options]="collaborators"></echarts>
                        </div> -->
                      </div>
                    </div>
                    <div class="row text-center my-4" *ngIf="!listaProfissionaisPeriodo">
                      <div class="col-12">
                        <h6>Não há registros</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-tab>
              <nb-tab tabTitle="Cliente">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 9">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="step=2">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operação</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Operação">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-5">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{itemSelected.uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{itemSelected.clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{gestorNome}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4 col-12 my-1 ml-2">
                    <div>
                      <label for="">Selecione o período que deseja visualizar:</label>
                    </div>
                    <!-- <nb-select placeholder="semestre" class="mr-md-2">
                      <nb-option value=""></nb-option>
                      <nb-option value="0">1°</nb-option>
                      <nb-option value="1">2°</nb-option>
                    </nb-select> -->

                    <select class="form-control w-50" (change)="selectYearOperation($event)">
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020" selected>2020</option>
                      <!-- <option value="2021">2020</option> -->
                    </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <!-- <span >BV-WBS 4878 <br></span>Gestor de Negócio Provide: Cláudio -->
                  <div class="col-12">
                    <table class="table table-hover table-responsive-sm">
                      <thead>
                        <tr>

                          <th scope="col">Períodos</th>
                          
                          <th scope="col" class="text-center">Operação</th>
                          <th scope="col" class="text-center">Total de Recursos</th>
                          <th scope="col" class="text-center">TH</th>
                          <th scope="col" class="text-center">THN</th>
                          <th scope="col" class="text-center">THE</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="getAllprojectRecurso(item)" *ngFor="let item of projectPeriod">
                          <th scope="row">{{item.data}}</th>
                          <td class="text-center">{{item.projetoNome}}</td>
                          <td class="text-center">{{item.totalProfissionais}}</td>
                          <td class="text-center">{{item.th}}</td>
                          <td class="text-center">{{item.hn}}</td>
                          <td class="text-center">{{item.he}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-12 mt-4" *ngIf="projectPeriod">
                    <div class="row">
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <span class="font-list">Produtividade por Período</span>
                        <echarts [initOpts]="initOpts" [options]="graficoClienteProejtoProdPerio"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>Horas Úteis & Horas Trabalhadas no Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficosTotaldehoras"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>N° de Profissionais Por Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficoNumeroPeriod"></echarts>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row text-center my-4" *ngIf="!projectPeriod">
                  <div class="col-12">
                    <h6>Não há registros</h6>
                  </div>
                </div>
              </nb-tab>
              <nb-tab tabTitle="Cliente" *ngIf="typeOfAcesso != 'CL'">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="step === 10">
  <div class="col-xxl-12">
    <nb-card>
      <nb-card-header>
        <a (click)="backStep()">
          <nb-icon icon="arrow-back-outline" status="primary" [options]="{ animation: { type: 'zoom' } }"
            style="font-size: 40px;"></nb-icon>
        </a>
        <div class="">
          <div class="row text-center">
            <div class="col-12">
              <nav>
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">Unidades</li>
                  <li class="breadcrumb-item">Clientes</li>
                  <li class="breadcrumb-item">Operação</li>
                  <li class="breadcrumb-item page-active">Alocação</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </nb-card-header>


      <nb-card-body>
        <div class="row">
          <div class="col-12">
            <nb-tabset>
              <nb-tab tabTitle="Alocação">
                <div class="row my-2">
                  <div class="col-12">
                    <div class="row my-2">
                      <div class="col-sm-12 col-md-5">
                        <table class="table table-sm table-borderless">
                          <tbody>
                            <tr>
                              <th scope="row">Unidade</th>
                              <td>{{itemSelected.uf}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cliente</th>
                              <td>{{itemSelected.clienteNomeCurto}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Gestor de Negócio</th>
                              <td>{{gestorNome}}</td>
                            </tr>
                            <tr *ngIf="!frag">
                              <th scope="row">Operação</th>
                              <td>{{itemSelected.projetoNome}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Período</th>
                              <td>{{itemSelected.data}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Horas normais</th>
                              <td>{{itemSelected.hn}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Horas extras</th>
                              <td>{{itemSelected.he}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Total de Horas</th>
                              <td>{{itemSelected.th}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <table class="table table-hover table-responsive-sm">
                      <thead>
                        <tr>
                          <th scope="col" *ngIf="frag">Operação</th>
                          <th scope="col">Profissional</th>
                          <th scope="col">Normal</th>
                          <th scope="col">Extra</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr (click)="getTimesheet(item, 'y')" *ngFor="let item of projectPeriodoRecurso">
                          <th scope="row" *ngIf="frag">4289 - Liquidação de Renovação</th>
                          <th scope="row">{{item.membroNome}}</th>
                          <td>{{item.hn}}</td>
                          <td>{{item.he}}</td>
                          <td>{{item.th}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-12 mt-4">
                    <div class="row">
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <span class="font-list">Produtividade por Período</span>
                        <echarts [initOpts]="initOpts" [options]="graficoAlocProdutivdade"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>Horas Úteis & Horas Trabalhadas no Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficoAlocHoratrabalhadas"></echarts>
                      </div>
                      <div class="col-md-4 col-sm-12 mt-4 text-left">
                        <p>N° de Profissionais Por Período</p>
                        <echarts [initOpts]="initOpts" [options]="graficoAlocNumeroPeriod"></echarts>
                      </div>
                    </div>
                  </div>
                </div>


              </nb-tab>
              <nb-tab tabTitle="Cliente" *ngIf="typeOfAcesso != 'CL'">
                <app-manager-client [client]="selectedClient"></app-manager-client>
              </nb-tab>
            </nb-tabset>
          </div>
        </div>


      </nb-card-body>
      <nb-card-footer class="d-flex justify-content-end">
        <!-- <button class="btn btn-secondary">Ver todas</button> -->
      </nb-card-footer>
    </nb-card>
  </div>
</div>